{
  "presets": [
    [
      "@babel/env", {
        "targets": {
          "node": "current"
        }
      }
    ]
  ],
  "plugins": [
    ["module-resolver", {
      "root": ["./"],
      "alias": {
        "test": "./test",
        "src": "./src"
      }
    }]
  ]
}
