{
  "require": [
    "@babel/register",
    "./test/test-loader"
  ],
  "check-coverage": true,
  "watermarks": {
    "lines": [80, 95],
    "functions": [80, 95],
    "branches": [80, 95],
    "statements": [80, 95]
  },
  "reporter": [
    "lcov",
    "text-summary"
  ],
  "sourceMap": false,
  "instrument": false,
  "all": true
}
